main, h1{ padding: 1em;}


html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 20px;
}

main p{
  background-color: gainsboro;
}


main li{
  border: thin solid grey;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
li{list-style-type: none;}

h1, p{color: orangered;}

img, nav li{box-shadow: 10px 5px 5px black;}
